<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-app>
     <v-container>

       <h1 class="mt-10 mb-5">نقش‌ها</h1>

       <Role ref="myroles"></Role>

       <v-dialog
             v-model="dialog"
             transition="dialog-bottom-transition"
             scrollable
       >
         <v-container>

           <h1 class="mt-10 mb-5">افزودن ‌نقش‌ جدید</h1>

           <v-form
                   ref="form"
                   lazy-validation
           >
             <v-row align="center">


               <v-col class="d-flex" cols="12" sm="4">
                 <v-select
                         multiple
                         :items="contractor_items"
                         outlined
                         label="انتخاب پیمانکار"
                 ></v-select>
               </v-col>

               <v-col class="d-flex" cols="12" sm="4">
                 <v-select
                         class="choose_mine"
                         multiple
                         :items="mine_items"
                         label="انتخاب معدن"
                         outlined
                 ></v-select>
               </v-col>

               <v-col class="d-flex" cols="12" sm="4">
                 <v-text-field
                         v-model="role_name"
                         label="نام نقش"
                         outlined
                 ></v-text-field>
               </v-col>

             </v-row>
           </v-form>

           <v-row class="mt-10 mb-5 justify-content-between">
             <div>
               <v-chip

                       class="ma-2"
                       color="teal"
                       text-color="white"
                       v-on:click="selectAll"

               >
                 <v-avatar left>
                   <v-icon>mdi-checkbox-marked-circle</v-icon>

                 </v-avatar>
                 انتخاب همه
               </v-chip>

               <v-chip
                       class="ma-2"

                       color="teal"
                       text-color="white"
                       v-on:click="deselectAll"
               >
                 <v-avatar left>
                   <!--<v-icon>mdi-close-circle-outline</v-icon>-->
                   <v-icon>mdi-close-circle</v-icon>
                 </v-avatar>
                 انتخاب هیچ کدام
               </v-chip>
               <v-chip
                       class="ma-2"
                       color="teal"
                       text-color="white"
                       v-on:click="reversAll"
               >
                 <v-icon left>mdi-swap-horizontal</v-icon>
                 معکوس کردن انتخاب ها
               </v-chip>
             </div>
             <h1 class="">تنظیم دسترسی‌ها</h1>

           </v-row>

           <v-form
                   class="permissions"
                   lazy-validation
           >
             <v-row align="center" class="flex-row-reverse">

               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.edit_mine"  label="ویرایش معدن"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.define_mine"  label="تعریف معدن"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.delete_mine"  label="حذف معدن"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.show_mine"  label="نمایش معدن"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.counter_menu"  label="منوی پیشخوان"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.operatiohn_menu"  label="منوی عملیات"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.monitoring_menu"  label="منوی نظارت"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.labratory_menu"  label="منوی آزمایشگاه"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.geology_menu"  label="منوی زمین شناسی"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.reports_menu"  label="منوی گزارش ها"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.managing_docs_menu"  label="منوی مدیریت اسناد"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.managing_users_menu"  label="منوی مدیریت کاربران"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.delete_pit"  label="منوی پیشخوان"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.edit_pit"  label="منوی عملیات"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.show_pit"  label="منوی نظارت"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.basic_definition_menu"  label="منوی آزمایشگاه"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.show_units"  label="منوی زمین شناسی"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.define_new_unit"  label="منوی گزارش ها"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.delete_unit"  label="منوی مدیریت اسناد"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.show_contractors"  label="منوی مدیریت کاربران"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.define_new_contractor"  label="منوی آزمایشگاه"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.edit_level"  label="منوی زمین شناسی"></v-switch>
               </v-col>
               <v-col class="d-flex" cols="12" sm="2">
                 <v-switch v-model="permissions.delete_level"  label="منوی گزارش ها"></v-switch>
               </v-col>

             </v-row>
             <v-btn color="primary" v-on:click="addRole">ثبت نقش</v-btn>
           </v-form>

         </v-container>
       </v-dialog>

       <v-fab-transition>
         <v-btn
                 title="افزودن‌نقش‌جدید"
                 color="primary"
                 fab
                 large
                 fixed
                 dark
                 bottom
                 left
                 v-on:click="dialog=true"
         >
           <v-icon>mdi-account-plus</v-icon>
         </v-btn>
       </v-fab-transition>

       <span class="group pa-2 teal flex-column fixed-btns" style="width: 50px;border-radius: 5px">

           <v-icon large dark class="mb-3" title="خروجی pdf">mdi-file-pdf</v-icon>

           <v-icon large dark class="mb-3" title="خروجی excel">mdi-file-excel</v-icon>

           <v-icon large dark  title="کپی گرفتن">mdi-content-copy</v-icon>

       </span>


       <v-snackbar
               v-model="success_snackbar"
               bottom= 'true'
               vertical='vertical'
               color="info"
       >
         <strong>نقش مورد نظر</strong> با موفقیت اضافه شد

         <template v-slot:action="{ attrs }">
           <v-btn
                   dark
                   text
                   v-bind="attrs"
                   @click="success_snackbar = false"
           >
             بستن
           </v-btn>
         </template>
       </v-snackbar>

       <v-snackbar
               v-model="validation_snackbar"
               bottom= 'true'
               vertical='vertical'
               color="warning"
       >
         ابتدا نام نقش را وارد کنید

         <template v-slot:action="{ attrs }">
           <v-btn
                   dark
                   text
                   v-bind="attrs"
                   @click="validation_snackbar = false"
           >
             بستن
           </v-btn>
         </template>
       </v-snackbar>

     </v-container>

  </v-app>
</template>

<script>
import Role from './components/Roles';

export default {
  name: 'App',

  components: {
    Role
  },

  data: () => ({
      success_snackbar : false,
      validation_snackbar : false,
      role_name: '',
      dialog:false,
      contractor_items:['اولنگ', 'مبین'],
      mine_items:['آنومالی','میشدوان','چاه گز','میدوک','معدن جدید'],

      permissions:{
          edit_mine: false,
          delete_mine: false,
          define_mine: false,
          show_mine: false,
          counter_menu: false,
          operatiohn_menu: false,
          monitoring_menu: false,
          labratory_menu: false,
          geology_menu: false,
          reports_menu: false,
          managing_docs_menu: false,
          managing_users_menu: false,
          delete_pit: false,
          edit_pit: false,
          show_pit: false,
          basic_definition_menu: false,
          show_units: false,
          define_new_unit: false,
          delete_unit: false,
          edit_unit: false,
          show_contractors: false,
          define_new_contractor: false,
          define_new_level: false,
          edit_level: false,
          delete_level: false,

      },

  }),

    props:{

    },
    methods:{
        selectAll(){
            let perms = this.permissions;
            Object.keys(perms).map(function(key) {
                perms[key] = true;
            });
        },
        deselectAll(){
            let perms = this.permissions;
            Object.keys(perms).map(function(key) {
                perms[key] = false;
            });
        },
        reversAll(){
            let perms = this.permissions;
            Object.keys(perms).map(function(key) {
                perms[key] = !perms[key];
            });
        },
        addRole(){

            if (this.role_name===''){
                this.validation_snackbar = true;
                return ;
            }

             this.$refs.myroles.roles.push({
                 role: this.role_name
             });
             this.dialog = false;
             this.role_name = '';
             this.success_snackbar = true;
        },

    },

};
</script>

<style>


  @font-face {
    font-family: "lotus";
    src: local("lotus"),   url(./fonts/lotus-bold.ttf) format("truetype");
  }
  div{
    font-family: "lotus" !important;
  }


  h1{
    text-align: right;
  }
  .permissions .v-input__slot{
    flex-direction: row;
  }
  .permissions .v-input--switch{
    width: 100%;
  }
  .permissions label{
    direction: rtl;
    text-align: right;
  }
  .v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 0px !important;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .v-btn--fab.v-size--large.v-btn--absolute.v-btn--bottom {
    bottom: 20px !important;
  }
   .v-list-item__title{
     text-align: right !important;
  }
  .v-select__slot{
    flex-direction: row-reverse;
  }


  .v-dialog .v-card{
    padding-bottom: 3rem;
  }
  .v-dialog{
    margin:80px !important;
    background: white;
    padding-bottom: 3rem !important;
  }
  .v-select__selections{
    direction: rtl;
  }
  .v-dialog .container{
    height: 100%;
    padding-bottom: 3rem !important;
  }
  .v-input--switch {
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: .8rem .5rem !important;
  }
  .v-input--switch label{
    white-space: nowrap;
  }
  .v-messages.theme--light{
    display: none !important;
  }

  .v-select__slot label{
    left: auto !important;
    right: 0 !important;
  }
  fieldset legend{
    direction: rtl;
  }
  .v-application--is-ltr .v-text-field--outlined fieldset {
    padding-right: 8px !important;
    padding-left: 0px !important;
    direction: rtl !important;
  }

  .v-select__slot .v-label--active {
    transform: translateY(-24px) scale(0.75) translateX(22px) !important;
  }
  .fixed-btns{
    position: fixed;
    left: 20px;
    top: 50px
  }
  .fixed-btns .v-icon{
    cursor: pointer;
  }
</style>
